
{{ 'style.css' | asset_url | stylesheet_tag }}afsdfasfdsadfasdfsafsaf
<div class="header__wrap transition">
    <div class="header container">
        <div class="header__list-wrap df">
            <div class="header__logo df df__unset">
                <a href="#">Czar Shop</a>
                <img src="./assets/imgs/icon-logo.svg" alt="">
            </div>
            <div class="header__list-btn translate100 df">
                <ul class="header__list df">
                    <li class="header__item ">
                        <span class="header__item-home df">
                            <a class="text header__item-active" href="#">Home</a>
                            <img src="./assets/imgs/arrow-down.svg" alt="">
                        </span>
                        <ul class="header__item-navbar">
                            <li class="header__item-navbar--item">
                                <a class="text" href="#save">Save up</a>
                            </li>
                            <li class="header__item-navbar--item">
                                <a class="text" href="#category">Category</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__item">
                        <a class="text" href="#shop">Shop</a>
                    </li>
                    <li class="header__item">
                        <a class="text" href="#blog">Blog</a>
                    </li>
                    <li class="header__item">
                        <a class="text" href="#page">Page</a>
                    </li>
                    <li class="header__item">
                        <a class="text" href="#vendor">Vendor</a>
                    </li>
                </ul>
                <div class="header__btn df">
                    <button class="header__btn-first btn">Login</button>
                    <button class="header__btn-second btn">Sign Up</button>
                </div>
            </div>
            <div class="header__menu hide-on-pc ">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>
    
    <!-- hero section start -->
    <div class="hero container" id="save">
        <div class="hero__text df df__flex">
            <p class="text__sub hero__text-subheader">Save up 30% off</p>
            <h1 class=" hero__text-header">Bengal Vegetable Farm Organic 100%</h1>
            <div class="text hero__text-des">Shujaa is a mobile platform that enables you to connect with your family and friends anywhere at anytime.</div>
            <a class="btn" href="#shop">Shop now</a>
        </div>
        <div class="hero__img transition">
            <img src="./assets/imgs/img-heroo.png" alt="">
        </div>
    </div>
    <!-- hero section end -->
</div>


{% schema %}
{
    "name": "hello",
    "settings":[
        {
            "type": "text",
            "label": "Ghi tiêu đề vào đây",
            "id": "heading"
        },
        {
            "type": "richtext",
            "label": "Có gì mô tả thì viết vào đây",
            "id": "description"
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Ảnh của bạn đấy",
            "settings": [
                {
                    "type": "image_picker",
                    "label": "Bấm vào đây để tải ảnh",
                    "id": "image"
                }
            ]
        }
    ],
    "presets":[
        {
            "category": "image",
            "name": "Banner html"
        }
    ]
    }
{% endschema %}