

<!-- category section start -->
<div class="category container" id="category">
    <div class="category__header">
        <!-- <h2 class="text__header">Search by Category</h2> -->
        <h2 class="text__header {{ section.settings.category_header_size }}">{{ section.settings.category_header }}</h2>
    </div>
    <div class="category__list-wrap bd">
        <div class="row category__list-slider mb60">
            {% for product in section.settings.collection.products %}
                <div class="col l-3 m-3 c-6">
                    <div class="category__item mb40">
                        <div class="category__item-img">
                            {% render 'card-product',card_product: product %}
                        </div>
                        <!-- <a href="" class="category__item-name text__sub">Groceries</a> -->
                    </div>
                </div>
            {% endfor %}

        </div>       
    </div>
</div>
<!-- category section end -->



{% schema %}
{
    "name": "Category Vegetable",
    "settings":[
        {
            "type": "text",
            "label": "Category header",
            "id": "category_header",
            "default": "Search by Category"
        },
        {
            "type": "select",
            "id": "category_header_size",
            "label": "Heading size",
            "default": "h1",
            "options": [
                {
                    "value": "h2",
                    "label": "Small"
                },
                {
                    "value": "h1",
                    "label": "Medium"
                },
                {
                    "value": "h0",
                    "label": "Large"
                }
            ]
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "t:sections.featured-collection.settings.collection.label"
            //"label": "collection"
        }
    ],
    "presets":[
        {
            "name": "Category Vegetable"
        }
    ]
}
{% endschema %}