

<!-- category section start -->
<div class="category container" id="category">
    <div class="category__header">
        <h2 class="text__header">Search by Category</h2>
    </div>
    <div class="category__list-wrap bd">
        <div class="row category__list-slider mb60">
            <div class="col l-3 m-3 c-6">
                <div class="category__item mb40">
                    <div class="category__item-img">
                        <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/cate3.png" alt="">
                    </div>
                    <a href="" class="category__item-name text__sub">Groceries</a>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="category__item mb40">
                    <div class="category__item-img">
                        <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/cate3.png" alt="">
                    </div>
                    <a href="" class="category__item-name text__sub">Fish</a>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="category__item mb40">
                    <div class="category__item-img">
                        <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/cate3.png" alt="">
                    </div>
                    <a href="" class="category__item-name text__sub">Vegetables</a>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="category__item mb40">
                    <div class="category__item-img">
                        <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/cate3.png" alt="">
                    </div>
                    <a href="" class="category__item-name text__sub">Groceries</a>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="category__item mb40">
                    <div class="category__item-img">
                        <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/cate3.png" alt="">
                    </div>
                    <a href="" class="category__item-name text__sub">Vegetables</a>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="category__item mb40">
                    <div class="category__item-img">
                        <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/cate3.png" alt="">
                    </div>
                    <a href="" class="category__item-name text__sub">Groceries</a>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="category__item mb40">
                    <div class="category__item-img">
                        <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/cate3.png" alt="">
                    </div>
                    <a href="" class="category__item-name text__sub">Fish</a>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="category__item mb40">
                    <div class="category__item-img">
                        <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/cate3.png" alt="">
                    </div>
                    <a href="" class="category__item-name text__sub">Groceries</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- category section end -->

    
{% schema %}
{
    "name": "Category Vegetable",
    "settings":[

    ],
    "presets":[
        {
            "name": "Category Vegetable"
        }
    ]
    }
{% endschema %}