<!-- login section start -->
<div class="login container__full none">
    <div class="app">
        <h1>Login</h1>
        <form>
            <div class="form-control">
                <input type="text" id="username" placeholder="Username" />
                <span></span>
            </div>

            <div class="form-control">
                <input type="email" id="email" placeholder="Email" />
                <span></span>
            </div>

            <div class="form-control">
                <input type="password" id="password" placeholder="Password" />
                <span></span>
            </div>

            <input class="login__input" type="submit" value="Login" />
            <div class="signup_link">Not a member? <a href="#">Signup</a></div>
        </form>
    </div>
</div>
<!-- login section end -->

<!-- register section start -->
<div class="register container__full none">
    <div class="app app__register">
        <h1>Register</h1>
        <form>
            <div class="form-control">
                <input type="text" placeholder="Username" />
                <span></span>
            </div>

            <div class="form-control">
                <input type="email"  placeholder="Email" />
                <span></span>
            </div>

            <div class="form-control">
                <input type="password" placeholder="Password" />
                <span></span>
            </div>

            <div class="form-control">
                <input type="password" placeholder="Confirm password" />
                <span></span>
            </div>

            <input type="submit" class="register__input" value="Sign Up" />
            <div class="login_link">Sign Up Success....<a href="#">Login</a></div>
        </form>
    </div>
</div>
<!-- register section end -->

<!-- overlay section start -->
<div class="overlay hide-on-pc none"></div>
<!-- overlay section end -->

{% schema %}
{
    "name": "Form Vegetable",
    "presets": [
        {
            "name": "Form Vegetable"
        }
    ]
}
{% endschema %}