<!-- product section start -->
<div class="product feauted container" id="shop">
    <div class="product__header category__header df">
        <h2 class="text__header">{{ section.settings.heading }}</h2>
        <a href="{{ section.settings.icon_link }}" class="product__shop df">
            <span class="text__style">Shop all</span>
            <button class="product__shop-icon df">
                <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/arrow-right.svg" alt="">
            </button>
        </a>
    </div>
    <div class="product__options">
        <ul class="product__options-list df">
            {% for block in section.blocks %}
            <li class="product__options-item">
                <span class="text">{{ block.settings.title }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>

    {% for block in section.blocks %}
        <div class="category__list none">
            <div class="row all__list-slider">
                {% for product in block.settings.collection.products %}
                <div class="col l-3 m-3 c-6">
                    <div class="feauted__item-wrap">
                        <div class="category__item feauted__item">
                            <div class="category__item-img feauted__item-img">
                                <img src="{{ product.featured_media| image_url: width: 300 }}">
                            </div>    
                            <div class="feauted__item-sale">
                                <span class="text">30%</span>
                            </div>
                        </div>
                        <div class="modal__cart-wrap df">
                            <div class="modal__cart df">
                                <button class="modal__cart-item modal__cart-plus df">
                                    <img src="./assets/imgs/plus.svg" alt="">
                                </button>
                                <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                                <button class="modal__cart-item modal__cart-minus df">
                                    <img src="./assets/imgs/minus.svg" alt="">
                                </button>
                            </div>
                        </div>  
                    </div>     
                    <div class="feauted__item-info">
                        <h3 class="feauted__info-name text__sub">Product Name</h3>
                        <div class="feauted__info-star--wrap df__center df">
                            <div class="feauted__info-star--list df">
                                <img src="./assets/imgs/icon-star.svg" alt="">
                                <img src="./assets/imgs/icon-star.svg" alt="">
                                <img src="./assets/imgs/icon-star.svg" alt="">
                                <img src="./assets/imgs/icon-star.svg" alt="">
                                <img src="./assets/imgs/icon-star.svg" alt="">
                            </div>
                            <span class="text">(121)</span>
                        </div>
                        <div class="feauted__info-price df__center df">
                            <p class="text__style feauted__info-price--sale">$200.00</p>
                            <p class="text__style feauted__info-price--old">$300.00</p>
                        </div>
                        <button class="feauted__info-btn df__center df">
                            <span class="text__style">Add to Cart</span>
                            <img src="./assets/imgs/icon-cart.svg" alt="">
                        </button>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
<!-- product section end -->

{% schema %}
{
    "name": "Product Vegetable",
    "settings":[
        {
            "type": "text",
            "label": "heading",
            "id": "heading",
            "default": "Hot Product"
        },
        {
            "type": "url",
            "label": "link",
            "id": "icon_link"
        }
    ],
    "blocks": [
        {
            "type": "text",
            "name": "title button",
            "limit": 5,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "title"
                },
                {
                    "type": "collection",
                    "id": "collection",
                    "label": "Collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Product Vegetable"
        }
    ]
}
{% endschema %}