<!-- product section start -->
<div class="product feauted container" id="shop">
    <div class="product__header category__header df">
        <h2 class="text__header">{{ section.settings.heading }}</h2>
        <a href="{{ section.settings.icon_link }}" class="product__shop df">
            <span class="text__style">Shop all</span>
            <button class="product__shop-icon df">
                <img src="https://hichaocau.github.io/Figma__vegetables/assets/imgs/arrow-right.svg" alt="">
            </button>
        </a>
    </div>
    <div class="product__options">
        <ul class="product__options-list df">
            <li class="product__options-item product__options-item--border">
                <span class="text">All</span>
            </li>
            <li class="product__options-item">
                <span class="text">Beverages</span>
            </li>
            <li class="product__options-item">
                <span class="text">Dried</span>
            </li>
            <li class="product__options-item">
                <span class="text">Food</span>
            </li>
            <li class="product__options-item">
                <span class="text">Fruits</span>
            </li>
        </ul>
    </div>
    <div class="category__list">
        <div class="row all__list-slider product__list-slider">
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/pro1.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/fe1.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/pro2.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/pro3.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="category__list none">
        <div class="row beverages__list-slider product__list-slider">
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/cate1.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="category__list none">
        <div class="row dried__list-slider product__list-slider">
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/fe1.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/pro3.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="category__list none">
        <div class="row food__list-slider product__list-slider">
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/fe3.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/pro3.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="category__list none">
        <div class="row fruits__list-slider product__list-slider">
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/pro1.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/pro2.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
            <div class="col l-3 m-3 c-6">
                <div class="feauted__item-wrap">
                    <div class="category__item feauted__item">
                        <div class="category__item-img feauted__item-img">
                            <img src="./assets/imgs/fe2.png" alt="">
                        </div>    
                        <div class="feauted__item-sale">
                            <span class="text">30%</span>
                        </div>
                    </div>
                    <div class="modal__cart-wrap df">
                        <div class="modal__cart df">
                            <button class="modal__cart-item modal__cart-plus df">
                                <img src="./assets/imgs/plus.svg" alt="">
                            </button>
                            <input type="text" class="modal__cart-input df modal__cart-item text__sub" placeholder="1">
                            <button class="modal__cart-item modal__cart-minus df">
                                <img src="./assets/imgs/minus.svg" alt="">
                            </button>
                        </div>
                    </div>  
                </div>     
                <div class="feauted__item-info">
                    <h3 class="feauted__info-name text__sub">Product Name</h3>
                    <div class="feauted__info-star--wrap df__center df">
                        <div class="feauted__info-star--list df">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                            <img src="./assets/imgs/icon-star.svg" alt="">
                        </div>
                        <span class="text">(121)</span>
                    </div>
                    <div class="feauted__info-price df__center df">
                        <p class="text__style feauted__info-price--sale">$200.00</p>
                        <p class="text__style feauted__info-price--old">$300.00</p>
                    </div>
                    <button class="feauted__info-btn df__center df">
                        <span class="text__style">Add to Cart</span>
                        <img src="./assets/imgs/icon-cart.svg" alt="">
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- product section end -->

{% schema %}
{
    "name": "Product Vegetable",
    "settings":[
        {
            "type": "text",
            "label": "heading",
            "id": "heading",
            "default": "Hot Product"
        },
        {
            "type": "url",
            "label": "link",
            "id": "icon_link"
        }
    ],
    "blocks": [
    
    ],
    "presets": [
        {
            "name": "Product Vegetable"
        }
    ]
}
{% endschema %}